form a {
  margin-left: 5px;
}

.post-links {
   cursor: text;
   text-decoration: none;
   color: black;
}

.categories{
  font-size: 10px;
}

.content{
  overflow-wrap: break-word;
}

.btn-edit{
  position: static;
  left: 0;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  color: white;
}

.btn-edit:hover {
  color: #fff;
  background-color: #808080;
  border-color: #808080;
}
